.bigbox{
  border:8px solid purple;
  border-radius: 1cm;
  margin:50px 50px;
  height: 400px;
  width: 400px;
  padding: 20px ;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmRviYXxFkc2v8rWR8OBI9xdruFHA4uwUjwEal11jSWLyRxXLdvHppR-KR48oXOMilYnc&usqp=CAU);
  background-image: ;
}
.smallbox{
  border:5px solid rgb(190, 122, 190);
  border-radius: 1cm;
  margin:3px 3px;
  text-align: center;
  display:inline-block;
  width: 25%;
  height: 25%;
  padding: 5px ;
}
 /*
 #smallid1{
   float:left;
   height: 50px;
   width: 50px;
 }
 #smallid2{
  float:left;
  height: 50px;
  width: 50px;
 }
 #smallid3{
  float:left;
  height: 50px;
  width: 50px;
 }
*/